
body{
    margin:0px;
    background:blue;
    font-family:"comic sans ms"
}

#b1 { 
    padding: 5px; 
    background: green;
    color: #fff;
    border: 9px dotted pink;
    position: absolute;
    left: 5000px; 
}
#container { 
    width: 300px;
    height: 100px;
    background:red;
    padding:10px;
    margin-left:-50px;
    border:5px solid yellow 
}

.listitem {
    font-size: not-a-number;
    color: #ff0000;
}

div p span strong em u {
    display: inline-block;
}

button {
    background: orange;
}